:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
}

#root {
  width: 100%;
}

/* 
css p por os gaps entre as varias secçoes (header, secçoes do body, footer):
#root {
  width: 100%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
} */

.full-container {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.btn-with-margin {
  margin-top: 2rem;
}