
.product-page {
    display: flex;
    flex-direction: column;
    margin: 0 6rem 3rem 6rem;
}

.product-page-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
}

.product-page-intro {
    width: 450px;
}

.products-container {
    width: 100%;
    display: grid;
    grid-template-columns: 394px 394px 394px;
    gap: 2rem;
    grid-row: auto;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

.btn-box {
    width: 315%;
    display: flex;
    justify-content: center;
}