
/* DropDownBtn Arrow */
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-flex;
    width: 6px;
    height: 6px;
    margin-top: -3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* DropDown button (navbar) */
.navbar-btn {
    display: flex;
    gap: 4px;
    align-items: center;
    border: none;
    background: none;
    padding: 0px 15px;
}