.product-about {
    display: flex;
    flex-direction: column;
}

.product-about-title {
    font-size: 28px;
    font-weight: 400;
}

.product-about-description {
    font-size: 20px;
}

.product-about-features {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.product-about-feature {
    font-size: small;
}

/* MEDIA QUERIES MOBILE */
@media (max-width: 768px) {
    .product-about-features {
        flex-direction: column;
        gap: 1rem;
    }
}