.product-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.product-details-img {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.product-details-img img {
    height: 100%;
    object-fit: cover;
}

.collection {
    font-size: 14px;
}

.product-details-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} /*justify-content: space-between;*/

.product-denomination {
    font-size: 28px;
    margin-bottom: 0;
}

.colors {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.color-icon {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}

.color-icon.selected {
    border: 1px;
    border-color: black;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.spacer {
    min-height: 2rem;
}

@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
    }

    .product-details-img {
        width: 100%;
    }
}