.selected-product-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 8rem;
}

@media (max-width: 768px) {
    .selected-product-page {
        margin: 2rem;
    }
}