.header-container {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

/* Navbar */
.navbar {
    display: flex;
}

.logo {
    background-color: rgb(132, 134, 136);
    width: 60px;
    height: 24px;
    border-radius: 4px;
}

/* Navbar buttons */
.navbar-btns {
    display: flex;
}

.navbar-btn-mobile {
    display: none;
}

/* DropDown button (navbar) */
.navbar-btn {
    display: flex;
    gap: 4px;
    align-items: center;
    border: none;
    background: none;
    padding: 0px 15px;
}

/* DropDownBtn Arrow */
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-flex;
    width: 6px;
    height: 6px;
    margin-top: -3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* MEDIA QUERIES MOBILE */

@media (max-width: 768px) {
    .navbar-btns {
        display: none;
    }

    .navbar-btn-mobile {
        display: flex;
    }
}