.images-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 14px;
    margin: 0 auto;
}

.images-row {
    display: flex;
    gap: 14px;
    min-width: max-content;
    margin: auto;
}

.images-row img {
    width: auto;
    flex-shrink: 0;
}