.container {
    background-color: #ffebcdeb;
    display: flex;
    width: 100%;
    height: 600px;
    position: relative;
}

.container-text {
    width: 226px;
    position: absolute;
    left: 120px;
    top: 70px;
}

.p-1 {
    width: 64px;
    display: flex;
    font-size: x-small;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-style: italic;
    text-decoration: underline;
    overflow: hidden;
}

.p-2 {
    font-size: large;
    font-style: italic;
    font-weight: 300;
}

.container-text button {
    font-size: x-small;
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    background-color: #ffebcdeb;
}

.container-img {
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;

}