.section-children-container {
    margin: 0 auto;
    margin-bottom: 5rem;
}

.section-children-container.fullscreen {
    margin-right: 0;
    margin-left: 0;
}

.section-children-container.no-bottom-margin {
    margin-bottom: 0;
}