.product-key-features {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.product-key-features-title {
    font-size: 28px;
    font-weight: 400;
    padding: 0px;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
}

.feature {
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERIES MOBILE */

@media (max-width: 1220px) {
    .features {
        flex-wrap: wrap;
        gap: 2.5rem;
    }

    .product-key-features {
        margin-bottom: 3rem;
    }
}